body {
	border: 0;
	margin: 0;
	width: 50px;
	height: 50px;
	background-image: url("images/shelf.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#album {
	margin-left: 12px;
	margin-top: 4px;
}

#fred {
	position:absolute;
	top: 28px;
	left: 7px;
}

#overlay {
	float: none;
	position: absolute;
	left: 12px;
	top: 4px;
	opacity: 0.6;
}
#playcontrols {
	position: absolute;
	top: 29px;
	left: 40px;
}