body {
  border: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  background-image: url("images/shelf.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

img#album {
  margin-left: 12px;
  margin-top: 4px;
}

img#fred {
  position: absolute;
  top: 28px;
  left: 7px;
}

img#overlay {
  float: none;
  position: absolute;
  left: 12px;
  top: 4px;
  opacity: 0.6;
}

img#playcontrols {
  position: absolute;
  top: 29px;
  left: 40px;
}

#title, #artist, #albumName {
  position: absolute;
  left: 60px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#title {
  top: 0px;
}

#artist {
  top: 1em;
}

#albumName {
  top: 2em;
  display: none;
}
